.FilterPopup {
  position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    background: #fff;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}

.price {
  background-color: #1D1D1D !important;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}

.color {
  background-color: #1D1D1D !important;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}

.color.active {
  background-color: #1D1D1D !important;
  max-height: 400px;
}

.price.active {
  background-color: #1D1D1D !important;
  max-height: 400px;
}

.FilterPopup.active {
  max-height: 400px;
  @apply border-[#fff] border-[1px]
}


input[type=range] {
  -webkit-appearance: none
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  height: 4px;
  background-color: #333232;
} 

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ecf0f1;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
}


input[type='range'] {
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  background-color: #333232;
}


input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  box-shadow: -80px 0 0 80px #fff;
}

input[type="range"]::-moz-range-track {
  background-color: #333232;
}

input[type="range"]::-ms-fill-upper {
  background-color: #333232;
}

.arrow {
  transform: rotate(-90deg);
  transition: all 0.2s ease-in-out;
}

.arrow.active {
  transform: rotate(0deg);
}

.arrowFilterSvg path.active {
  fill: #111111;
}

.arrowFilterSvg.active {
  transform: rotate(270deg)
}

.filterBtn.active {
  background-color: #fff;
  color: #111;
}

.activePrice {
  background-color: #333232;
}

.activeColor {
  background-color: #333232;
}