/* .main {
  position: relative;
  max-width: 350px;
  width: 100%;
  height: 275px;
  background-color: #333;
  border-radius: 6px;
} */

.main {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 275px;
  background: linear-gradient(90deg, #404040 0%, #4C4C4C 50%, #404040 100%);
  background-size: 200% 100%;
  animation: skeleton-animation 1s infinite;
  border-radius: 6px;
}

.title {
  position: absolute;
  bottom: 0;
  left: 15px;
}

@keyframes skeleton-animation {
  0% { background-position: 100% 0; }
  100% { background-position: -100% 0; }
}

/* #404040 */