@media only screen and (max-width:1200px) {
  .hoodieBig {
      max-width: 100% !important;
  }

  .hoodieSmallWrapper {
    flex-direction: row !important;
    width: 100% !important;
  }

  .hoodieSmallBlock {
    width: 100% !important;
  }

}


@media only screen and (max-width:620px) {
  .hoodieBig {
      height: auto !important;
  }

  .hoodieSmallBlock {
    height: auto !important;
  }

  .hoodieSmall {
    height:  auto !important;
  }

}